
/* CSS é mobile first -> ajustes são para tela mobile */

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

:root {
    --header-height: 50px;
    --footer-height: 40px;
    --header-footer-color: #6faeb4;
}

body {
    font-family: "Lora", serif;
    margin: 0;
}

/*mobile first format*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

.container {
    height: calc(100vh - var(--header-height) - var(--footer-height));
}

header {
    grid-area: header;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-style: italic;
    font-size: 30px;
    color: #fff;
}

header a {
    text-decoration: none;
    color: #fff;
}

.main {
    grid-area: main;
    background-color: #e7ecef;
}

footer {
    grid-area: footer;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 0 20px;
}

header,
footer {
    background-color: var(--header-footer-color);
}

.footer__copyright {
    display: flex;
    align-items: center;
}

.sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
}

.sidenav__list-item {
    padding: 50px 20px 20px 40px;
    color: #ddd;
}

.sidenav__list-item a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

.feather-icon__login {
    color: #fff;
    width: 32px;
    height: 32px;
}

.feather-icon__login:hover {
    width: 36px;
    height: 36px;
    transform: translateY(1px);
}

a.form-link {
    text-decoration: none;
    color: #616161;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: -10px;
}

a.form-link:hover {
    color: #000;
}

a.bottom {
    position: relative;
}

a.bottom:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(4, 173, 255, 0.4);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.bottom.current {
    background-color: rgba(4, 173, 255, 0.4);
}

a.bottom:hover:before {
    visibility: visible;
    height: 100%;
}
.card-container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.card-perfil {
    background: #fff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    position: relative;
    min-width: 300px;
    min-height: 300px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(48, 39, 39, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

a.perfil-button {
    font-family: "Special Elite", cursive;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #000;
    background-color: rgba(143, 215, 251, 0.4);
    margin-top: -20px;
    transition: all 0.3s ease-in-out;
}

a.perfil-button:hover {
    background-color: rgba(4, 173, 255, 0.4);
}

.menu-icon {
    position: absolute;
    display: flex;
    top: 5px;
    left: 10px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
    color: #fff;
    background-color: transparent;
}

.menu-icon .hidden {
    color: var(--header-footer-color);
}

/* Room for menu-icon */

.header__name {
    margin-left: 42px;
}

/* Mobile-first side nav styles */

.sidenav {
    font-family: "Special Elite", cursive;
    font-size: 18px;
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    -webkit-box-shadow: 4px 0px 5px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 4px 0px 5px 0px rgba(163, 163, 163, 1);
    box-shadow: 4px 0px 5px 0px rgba(163, 163, 163, 1);
    z-index: 2;
    background-color: #fff;
    transform: translateX(-245px);
    /* transition: all 0.6s ease-in-out; */
    background-image: url("https://cdn.inspirationhut.net/wp-content/uploads/2014/09/paper-fibres.jpg");
}

/* The active class is toggled on hamburger and close icon clicks */

.sidenav.active {
    z-index: 100;
    transform: translateX(0);
}

/* Only vizible on mobile screens*/

.close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #a7a7a7;
}

.close-icon:hover {
    color: #646464;
}

/* envelope container */

#envelope__front {
    z-index: 10;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 380px;
    /* bottom: -20px; */
    height: 180px;
    background: url("https://image.freepik.com/fotos-gratis/brown-textura-de-papel-reciclado_1253-79.jpg");
    -webkit-box-shadow: 0px -2px 10px 0px rgba(105, 105, 105, 1);
    -moz-box-shadow: 0px -2px 10px 0px rgba(105, 105, 105, 1);
    box-shadow: 0px -2px 10px 0px rgba(105, 105, 105, 1);
    /* for envelope button */
    display: flex;
    align-items: center;
    justify-content: center;
}

.envelope__back {
    z-index: 1;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 380px;
    bottom: -190px;
    height: 230px;
    background: url("https://image.freepik.com/fotos-gratis/brown-textura-de-papel-reciclado_1253-79.jpg");
}

.form-content {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

.container .form-content.form-content.passwordRecovery {
    justify-content: center;
    align-items: center;
}

.passwordRecovery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 300px;
    max-width: 800px;
    height: 200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(48, 39, 39, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.passwordRecovery input[type="email"],
.passwordRecovery button {
    min-width: 300px;
    margin-top: 20px;
    width: 90% !important;
}

.passwordRecovery button {
    background-color: #d1c4e9;
}

.form-content#login-page,
.form-content#signup-page {
    width: 100vw;
}

/* Piece of paper (fieldset) */
#paper {
    z-index: 2;
    font-family: "Special Elite", cursive;
    margin-top: 100px;
    border: none;
    position: relative;
    overflow-y: scroll;
    background-color: #fff;
    height: 400px;
    width: 280px;
    padding: 30px;
    text-align: center;
    -webkit-box-shadow: 0px -1px 14px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 0px -1px 14px 0px rgba(163, 163, 163, 1);
    box-shadow: 0px -1px 14px 0px rgba(163, 163, 163, 1);
}

.field {
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input {
    background-color: transparent;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: inherit;
    font-size: 1em;
}

.field__input:focus::-webkit-input-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
    color: var(--uiFieldPlaceholderColor);
    opacity: 1;
}

.a-field {
    display: inline-block;
}

.a-field__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.a-field__input:focus {
    outline: none;
}

/* a-field */

.a-field {
    --uiFieldHeight: var(--fieldHeight, 40px);
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldBorderColor: var(--fieldBorderColor);
    --uiFieldFontSize: var(--fieldFontSize, 1em);
    --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
    --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);
    position: relative;
    box-sizing: border-box;
    font-size: var(--uiFieldFontSize);
    padding-top: 1em;
}

.a-field__input {
    height: var(--uiFieldHeight);
    padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
}

.a-field__input::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.a-field__input::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label {
    opacity: 0;
    bottom: var(--uiFieldPaddingBottom);
}

.a-field__input:focus::-webkit-input-placeholder {
    opacity: 1;
    transition-delay: 0.2s;
}

.a-field__input:focus::-moz-placeholder {
    opacity: 1;
    transition-delay: 0.2s;
}

.a-field__label-wrap {
    box-sizing: border-box;
    width: 100%;
    height: var(--uiFieldHeight);
    pointer-events: none;
    cursor: text;
    position: absolute;
    bottom: 0;
    left: 0;
}

.a-field__label {
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    bottom: calc(50% - 0.5em);
    line-height: 1;
    font-size: var(--uiFieldHintFontSize);
    pointer-events: none;
    transition: bottom 0.2s cubic-bezier(0.9, -0.15, 0.1, 1.15),
        opacity 0.2s ease-out;
    will-change: bottom, opacity;
}

.a-field__input:focus ~ .a-field__label-wrap .a-field__label {
    opacity: 1;
    bottom: var(--uiFieldHeight);
}

/* a-field_a1 */

.a-field_a1 .a-field__input {
    transition: border-color 0.2s ease-out;
    will-change: border-color;
}

.a-field_a1 .a-field__input:focus {
    border-color: var(--fieldBorderColorActive);
}

/* a-field_a2 */

.a-field_a2 .a-field__label-wrap::after {
    content: "";
    box-sizing: border-box;
    width: 0;
    height: var(--uiFieldBorderWidth);
    background-color: var(--fieldBorderColorActive);
    position: absolute;
    bottom: 0;
    left: 0;
    will-change: width;
    transition: width 0.285s ease-out;
}

.a-field_a2 .a-field__input:focus ~ .a-field__label-wrap::after {
    width: 100%;
}

/* a-field_a3 */

.a-field_a3 {
    padding-top: 1.5em;
}

.a-field_a3 .a-field__label-wrap::after {
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;
    border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);
    position: absolute;
    bottom: 0;
    left: 0;
    will-change: opacity, height;
    transition: height 0.2s ease-out, opacity 0.2s ease-out;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap::after {
    height: 100%;
    opacity: 1;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label {
    bottom: calc(var(--uiFieldHeight) + 0.5em);
}

.field {
    --fieldBorderColor: #d1c4e9;
    --fieldBorderColorActive: #673ab7;
}

.envelope-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
}

.envelope {
    position: relative;
}

.page {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    display: grid;
    grid-gap: 30px;
    align-items: flex-end;
    order: 1;
}

.envelope-button {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(170, 170, 170, 0.4);
    padding: 20px 30px;
    border: 4px solid #fff;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.envelope-button:hover {
    cursor: pointer;
    color: #ffffff !important;
    background: #d1c4e9;
    border-color: #d1c4e9 !important;
    transition: all 0.4s ease 0s;
}

.alert-container {
    display: flex;
    justify-content: center;
}

.alert {
    font-family: "Special Elite", cursive;
    position: absolute;
    width: 50%;
    margin-top: 2rem;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 1.1em;
    border-radius: 0.25rem;
}

.alert ul.flashes {
    list-style: none;
}

.alert.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Non-mobile styles, 750px breakpoint */

@media only screen and (min-width: 46.875em) {
    /*Show the sidenav*/
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "header header" "sidenav main" "sidenav footer";
    }

    .grid-container#login-page__container,
    .grid-container#signup-page__container {
        grid-template-columns: 1fr;
        width: 100vw;
        grid-template-areas: "header" "main" "footer";
    }

    .sidenav {
        position: relative;
        /*fixed position on mobile*/
        transform: translateX(0);
    }
    
    #sidenav {
        width: 0px;
    }

    #sidenav.active {
        width: 100%;
    }

    .menu-icon {
        visibility: hidden;
    }
    .close-icon {
        visibility: hidden;
    }
    #titulo {
        margin-left: 260px;
    }

    #paper {
        height: 500px;
        width: 400px;
    }

    #envelope__front {
        width: 520px;
        height: 240px;
    }

    .envelope__back {
        width: 520px;
        height: 280px;
    }
}

/*Medium sized screen breakpoint (tablet, 1050px) */

@media only screen and (min-width: 62.625em) {
    /*Breaks out main cards into two columns */
    .main-cards {
        column-count: 2;
    }

    .passwordRecovery input {
        min-width: 500px;
    }
}

.container {
    position: relative;
}

/* adapting envelope for screens with smaller heights */
@media only screen and (max-height: 900px) {
    .envelope-container {
        transform: scale(0.9);
    }
}
