<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="keywords" content="documentos, nce, doc" />

        <script src="https://unpkg.com/feather-icons"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>

        <link rel="stylesheet" href="/static/css/main.css" />

        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="grid-container">
            <div class="menu-icon" openNav>
                <i class="fas fa-bars"></i>
            </div>
            <header>
                {% if login %}
                <h1 id="titulo" class="header__name">
                    <a href="{{url_for('perfil', token = token)}}"
                        >SisDoc NCE</a
                    >
                </h1>
                {% else %}
                <h1 id="titulo" class="header__name">
                    <a href="/login"
                        >SisDoc NCE</a
                    >
                </h1>
                {% endif %}
                <a
                    href="/login"
                    class="header__login"
                    title="Sair"
                    id="nav-icon"
                    ><i class="feather-icon__login" data-feather="log-out"></i
                ></a>
            </header>
            <aside id="sidenav" class="sidenav">
                <div class="close-icon" closeNav>
                    <i class="fas fa-times"></i>
                </div>
                <ul class="sidenav__list">
                    {% block header %}{% endblock %}
                    <!--Toggling active classes-->
                </ul>
            </aside>

            <main class="main {{'login' if login }}">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %} {% for category, message in messages %}
                <div class="alert-container fadeOut">
                    <div class="alert {{ category }}">
                        <ul class="flashes">
                            <li>{{ message }}</li>
                        </ul>
                    </div>
                </div>
                {% endfor %} {% endif %} {% endwith %} {% block body %}{%
                endblock %}
            </main>
            <footer class="footer__copyright">
                &copy SisDoc NCE
            </footer>
        </div>
        <script src="/static/script/script.js"></script>
    </body>
</html>
