{% extends "base.html" %}

{% block head %}
<title>Alteração de Usuário</title>
{% endblock %}

{% block header %}
<li class="sidenav__list-item"><a href="{{url_for('perfil', token = token)}}" class="bottom">Perfil</a></li>
<li class="sidenav__list-item"><a href="{{url_for('criarDocumento', token = token)}}" class="bottom">Criar Documento</a></li>
<li class="sidenav__list-item"><a href="{{url_for('listaOficios', token = token)}}" class="bottom">Ofícios</a></li>
<li class="sidenav__list-item"><a href="{{url_for('listaComInternas', token = token)}}" class="bottom">Comunicações Internas</a></li>
{% endblock %}

{% block body %}

<div class="container">
  <form class="form-content" method="POST">
    <fieldset id="paper">
      <div class="page">

        <!-- nome -->
        <label class="field a-field a-field_a2">
          <input name="nome" type="text" 
          class="field__input a-field__input" 
	  placeholder="Nome Completo" value="{{user.nome}}" required>

          <span class="a-field__label-wrap">
            <span class="a-field__label">Nome Completo</span>
          </span>
        </label>
        
	<!-- Nível do cargo -->
	<label class="document-type" align="left">
	  <a>Tipo de Cargo</a>
	  <br>
	  <input type="radio" id="direcaoGeral" name="nivelCargo" value="1">
	  <label for="direcaoGeral" {% if user.nivelCargo == "direcaoGeral" %}
	  checked {% endif %}>Direção Geral</label>
	  <br>
	  <input type="radio" id="direcaoArea" name="nivelCargo" value="2">
	  <label for="direcaoArea" {% if user.nivelCargo == "" %}
	  checked {% endif %}>Direção de Área</label>
	  <br>
	  <input type="radio" id="chefiaDivisao" name="nivelCargo" value="3">
	  <label for="chefiaDivisao" {% if user.nivelCargo == "" %}
	  checked {% endif %}>Chefia de Divisão</label>
	  <br>
	  <input type="radio" id="funcionario" name="nivelCargo" value="4">
	  <label for="funcionario" {% if user.nivelCargo == "" %}
	  checked {% endif %}>Outro</label>
	</label>

        <!-- cargo -->
        <label class="field a-field a-field_a2">
          <input name="cargo" type="text" 
          class="field__input a-field__input" 
	  placeholder="Cargo do Usuário" value="{{user.cargo}}" required>
          <span class="a-field__label-wrap">
            <span class="a-field__label">Cargo do Usuário</span>
          </span>
        </label>

        <!-- area -->
        <label class="field a-field a-field_a2">
            <input name="area" type="text" 
            class="field__input a-field__input" 
	    placeholder="Área do Usuário" required value="{{user.area}}">
            <span class="a-field__label-wrap">
              <span class="a-field__label">Área do Usuário</span>
            </span>
          </label>

        <!-- divisao -->
        <label class="field a-field a-field_a2">
            <input name="divisao" type="text" 
            class="field__input a-field__input" 
	    placeholder="Divisão do Usuário" required value="{{user.divisao}}">
            <span class="a-field__label-wrap">
              <span class="a-field__label">Divisão do Usuário</span>
            </span>
          </label>
      </div>

      <!-- Achar solução melhor kkkkk -->
      <br><br><br><br><br><br><br><br><br><br>

    </fieldset>
  <div id="envelope">
    <label class="field a-field a-field_a2">
      <input type="submit" value="Criar Usuário" class="envelope-button">
    </label>
  </div>
  <div class="envelope__back"></div>
</form>
</div>
{% endblock %}
