{% extends "base.html" %}

{% block head %}
<title>Login</title>
<link rel="shortcut icon" href="/static/img/logo_nce.jpg" style="width: fit-content;">
{% endblock %}


{% block body %}
<div class="container" id="login-page">
  <form class="form-content" method="POST">

    <div class="passwordRecovery">
      <label class="field a-field a-field_a3">
          <input name="email" type="email" 
          class="field__input a-field__input" 
          placeholder="Seu e-mail NCE" required>
          
          <span class="a-field__label-wrap">
            <span class="a-field__label">E-mail</span>
          </span>
        </label>
      
        <button class="envelope-button">Recuperar acesso</button>
    </div>


  </form>
</div>




{% endblock %}

