{% extends "base.html" %}

{% block head %}
<title>Inicio</title>
<link rel="shortcut icon" href="/static/img/logo_nce.jpg" style="width: fit-content;">
{% endblock %}

{% block header %}
<li class="sidenav__list-item"><a href="/" class="bottom current">Início</a></li>
<li class="sidenav__list-item"><a href="/login" class="bottom">Login</a></li>
<li class="sidenav__list-item"><a href="/cadastrarusuario" class="bottom">Cadastrar Usuário</a></li>
{% endblock %}

{% block body %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus magna fringilla urna porttitor rhoncus dolor purus. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Sociis natoque penatibus et magnis dis. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum. Ut tristique et egestas quis ipsum suspendisse. Donec massa sapien faucibus et molestie ac feugiat. Turpis massa tincidunt dui ut ornare. Tellus mauris a diam maecenas sed enim ut sem. Mauris pharetra et ultrices neque ornare. Quis enim lobortis scelerisque fermentum dui faucibus in ornare quam.
<br><br>
Non consectetur a erat nam at lectus urna. Laoreet id donec ultrices tincidunt arcu non. Nisi scelerisque eu ultrices vitae auctor eu augue. Accumsan tortor posuere ac ut consequat semper viverra nam. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et. Quam id leo in vitae turpis massa. Massa enim nec dui nunc mattis enim ut tellus elementum. Hendrerit gravida rutrum quisque non tellus orci ac auctor. Elit sed vulputate mi sit amet mauris commodo quis imperdiet. Purus sit amet luctus venenatis lectus magna fringilla urna. Tellus elementum sagittis vitae et leo duis ut. Elementum pulvinar etiam non quam lacus suspendisse faucibus. Vestibulum morbi blandit cursus risus at. Donec ultrices tincidunt arcu non sodales neque sodales ut. Rhoncus aenean vel elit scelerisque. Morbi tristique senectus et netus et. Ac turpis egestas integer eget aliquet nibh. At in tellus integer feugiat scelerisque varius morbi.
<br><br>
Molestie ac feugiat sed lectus vestibulum. Volutpat est velit egestas dui id ornare. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Ut porttitor leo a diam sollicitudin tempor. Eu ultrices vitae auctor eu augue ut lectus. Nec dui nunc mattis enim ut. Platea dictumst quisque sagittis purus sit amet. Odio ut sem nulla pharetra. Mollis nunc sed id semper risus in hendrerit. Dolor sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. Sit amet justo donec enim diam vulputate ut pharetra sit. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Lacinia quis vel eros donec ac odio. Pretium nibh ipsum consequat nisl vel pretium. Id consectetur purus ut faucibus pulvinar elementum integer.
{% endblock %}
