{% extends "base.html" %}

{% block head %}
<title>Cadastro de Documentos</title>
{% endblock %}

{% block header %}
<li class="sidenav__list-item"><a href="/" class="bottom">Início</a></li>
<li class="sidenav__list-item"><a href="/login" class="bottom">Login</a></li>
<li class="sidenav__list-item"><a href="/criardocumento" class="bottom">Criar Documento</a></li>
<li class="sidenav__list-item"><a href="/listaoficios" class="bottom">Ofícios</a></li>
<li class="sidenav__list-item"><a href="/listacomunicacoesinternas" class="bottom">Comunicações Internas</a></li>
<li class="sidenav__list-item"><a href="/criarusuario" class="bottom">Criar Usuário</a></li>
<li class="sidenav__list-item"><a href="/listausuarios" class="bottom">Lista de Usuários</a></li>
<li class="sidenav__list-item"><a href="/listausuariosnovos" class="bottom current">Lista de Usuários Novos</a></li>
{% endblock %}


{% block body %}
<h1 align="center">Documentos Gerados</h1>
<table border="2" align="center">
    <tr>
        <th>e-mail</th>
        <th>Nome</th>
        <th>Cargo</th>
        <th>Área</th>
        <th>Divisão</th>
	<th>Opções</th>
    </tr>
    {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.cargo }}</td>
            <td>{{ usuari.area }}</td>
            <td>{{ userCriado.divisão }}</td>
            <td>
                <a href="">Alterar</a>
                <br>
                {% if userCriado.status == 'True' %}
                <a href="">Inativar</a>
                {% endif %}
                {% if userCriado.status == 'False' %}
                <a href="">Ativar</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}


