{% extends "base.html" %}

{% block head %}
<title>Cadastro de Documentos</title>
{% endblock %}

{% block header %}
<li class="sidenav__list-item"><a href="/" class="bottom">Início</a></li>
<li class="sidenav__list-item"><a href="/login" class="bottom">Login</a></li>
<li class="sidenav__list-item"><a href="/criardocumento" class="bottom">Criar Documento</a></li>

{% if tipo == "oficio" %}
<li class="sidenav__list-item"><a href="/listaoficios" class="bottom current">Ofícios</a></li>
<li class="sidenav__list-item"><a href="/listacomunicacoesinternas" class="bottom">Comunicações Internas</a></li>
{% endif %}

{% if tipo == "comInterna" %}
<li class="sidenav__list-item"><a href="/listaoficios" class="bottom">Ofícios</a></li>
<li class="sidenav__list-item"><a href="/listacomunicacoesinternas" class="bottom current">Comunicações Internas</a></li>
{% endif %}

<li class="sidenav__list-item"><a href="/criarusuario" class="bottom">Criar Usuário</a></li>
<li class="sidenav__list-item"><a href="/listausuarios" class="bottom">Lista de Usuários</a></li>
<li class="sidenav__list-item"><a href="/listausuariosnovos" class="bottom">Lista de Usuários Novos</a></li>
{% endblock %}


{% block body %}
{% if tipo == "oficio"%}
<h1 align="center">Lista de Ofícios</h1>
{% else %}
<h1 align="center">Lista de Comunicações Internas</h1>
{% endif %}
<table border="2" align="center">
    <tr>
        <th>Id</th>
        <th>Emissor</th>
        <th>Cargo</th>
        <th>Área</th>
        <th>Destinatário</th>
        <th>Assunto</th>
        <th>Data</th>
        <th>Opções</th>
    </tr>
    {% for doc in documentos %}
        <tr>
            <td>{{ doc.id }}</td>
            <td>{{ doc.emissor }}</td>
            <td>{{ doc.cargo }}</td>
            <td>{{ doc.area }}</td>
            <td>{{ doc.destinatario }}</td>
            <td>{{ doc.assunto }}</td>
            <td>{{ doc.data.date() }}</td>
            <td>
				{% if tipo == "oficio" %}
                <a href="/editaroficio/{{doc.id}}">Editar</a>
                <br>
                <a href="/baixaroficio/{{doc.id}}">Baixar</a>
				{% else %}
				<a href="/editarcomunicacaointerna/{{doc.id}}">Editar</a>
				<br>
				<a href="/baixarcomunicacaointerna/{{doc.id}}">Baixar</a>
				{% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}


