{% extends "base.html" %}

{% block head %}
{% if novo %}
<title>Usuários Pendentes</title>
{% else %}
<title>Usuários Cadastrados</title>
{% endif %}
{% endblock %}

{% block header %}
<li class="sidenav__list-item"><a href="/" class="bottom">Início</a></li>
<li class="sidenav__list-item"><a href="/login" class="bottom">Login</a></li>
<li class="sidenav__list-item"><a href="/criardocumento" class="bottom">Criar Documento</a></li>
<li class="sidenav__list-item"><a href="/listaoficios" class="bottom">Ofícios</a></li>
<li class="sidenav__list-item"><a href="/listacomunicacoesinternas" class="bottom">Comunicações Internas</a></li>
<li class="sidenav__list-item"><a href="/criarusuario" class="bottom">Criar Usuário</a></li>
{% if novo %}
<li class="sidenav__list-item"><a href="/listausuarios" class="bottom">Lista de Usuários</a></li>
<li class="sidenav__list-item"><a href="/listausuariosnovos" class="bottom current">Lista de Usuários Novos</a></li>
{% else %}
<li class="sidenav__list-item"><a href="/listausuarios" class="bottom current">Lista de Usuários</a></li>
<li class="sidenav__list-item"><a href="/listausuariosnovos" class="bottom">Lista de Usuários Novos</a></li>
{% endif %}
{% endblock %}


{% block body %}
{% if novo %}
<h1 align="center">Usuários Pendentes</h1>
{% else %}
<h1 align="center">Usuários Cadastrados</h1>
{% endif %}
<table border="2" align="center">
    <tr>
        <th>e-mail</th>
        <th>Nome</th>
	<th>Nível do Cargo</th>
        <th>Cargo</th>
        <th>Área</th>
        <th>Divisão</th>
	<th>Opções</th>
    </tr>
    {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.nivelCargo }}</td>	
	    <td>{{ usuario.cargo }}</td>
            <td>{{ usuario.area }}</td>
            <td>{{ usuario.divisao }}</td>
            <td>
                {% if novo %}
		<a href="/aprovarusuario/{{usuario.id}}">Aprovar Cadastro</a>
		<br>
		<a href="/reprovarusuario/{{usuario.id}}">Reprovar Cadastro</a>
		{% else %}
		<a href="/editarusuario/{{usuario.id}}">Alterar Dados</a>
		<br>
		{% if usuario.status %}
		<a href="/inativarusuario/{{usuario.id}}">Inativar</a>
		{% else %}
		<a href="/ativarusuario/{{usuario.id}}">Ativar</a>
                {% endif %}
		{% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}


