{% extends "base.html" %}

{% block head %}
<title>Cadastro de Documentos</title>
{% endblock %}

{% block header %}
<li class="sidenav__list-item"><a href="/" class="bottom">Início</a></li>
<li class="sidenav__list-item"><a href="/gerardocumento" class="bottom">Gerar documentos</a></li>
<li class="sidenav__list-item"><a href="/meusdocumentos" class="bottom current">Documentos</a></li>
{% endblock %}


{% block body %}
<h1 align="center">Documentos Gerados</h1>
<table border="2" align="center">
    <tr>
        <th>Id</th>
        <th>Tipo</th>
        <th>Emissor</th>
        <th>Cargo</th>
        <th>Área</th>
        <th>Destinatário</th>
        <th>Assunto</th>
        <th>Data</th>
        <th>Opções</th>
    </tr>
    {% for docGerado in documentos %}
        <tr>
            <td>{{ docGerado.id }}</td>
            <td>{{ docGerado.tipo }}</td>
            <td>{{ docGerado.emissor }}</td>
            <td>{{ docGerado.cargo }}</td>
            <td>{{ docGerado.area }}</td>
            <td>{{ docGerado.destinatario }}</td>
            <td>{{ docGerado.assunto }}</td>
            <td>{{ docGerado.data.date() }}</td>
            <td>
                <a href="/editar/{{docGerado.id}}">Editar</a>
                <br>
                <a href="/baixar/{{docGerado.id}}">Baixar</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}


