{% extends "base.html" %} {% block head %}
<title>Inicio</title>
<link
    rel="shortcut icon"
    href="/static/img/logo_nce.jpg"
    style="width: fit-content"
/>
{% endblock %} {% block header %}
<li class="sidenav__list-item">
    <a href="{{url_for('perfil', token = token)}}" class="bottom current"
        >Perfil</a
    >
</li>

{% if usuario.nivelCargo %}
<li class="sidenav__list-item">
    <a href="{{url_for('criarDocumento', token = token)}}" class="bottom"
        >Criar Documento</a
    >
</li>
<li class="sidenav__list-item">
    <a href="{{url_for('listaOficios', token = token)}}" class="bottom"
        >Ofícios</a
    >
</li>
<li class="sidenav__list-item">
    <a href="{{url_for('listaComInternas', token = token)}}" class="bottom"
        >Comunicações Internas</a
    >
</li>
{% else %}
<li class="sidenav__list-item">
    <a href="{{url_for('listaUsuarios', token = token)}}" class="bottom"
        >Usuários</a
    >
</li>
<li class="sidenav__list-item">
    <a href="{{url_for('listaUsuariosNovos', token = token)}}" class="bottom"
        >Usuários Pendentes</a
    >
</li>
<li class="sidenav__list-item">
    <a href="{{url_for('listaUsuariosEditados', token = token)}}" class="bottom"
        >Pedidos de atualização</a
    >
</li>
{% endif %} {% endblock %} {% block body %}
<div class="card-container">
    <div class="card-perfil">
        <div>
            <p>
                <span class="title">E-mail:</span>
                <span class="content">{{usuario.email}}</span>
            </p>
            <p>
                <span class="title">Nome:</span>
                <span class="content">{{usuario.nome}}</span>
            </p>
            <p>
                <span class="title">Cargo:</span>
                <span class="content">{{usuario.cargo}}</span>
            </p>
            {% if usuario.nivelCargo %}
            <p>
                <span class="title">Nível do Cargo:</span>
                <span class="content"
                    >{{ nivelCargo[usuario.nivelCargo] }}</span
                >
            </p>
            {% endif %}
            <p>
                <span class="title">Área:</span>
                <span class="content">{{usuario.area}}</span>
            </p>
            <p>
                <span class="title">Divisão:</span>
                <span class="content">{{usuario.divisao}}</span>
            </p>
        </div>
        {% if usuario.nivelCargo %}
        <br />
        <br />
        <a
            href="{{url_for('editarUsuario', token = token)}}"
            class="perfil-button"
            >Atualizar Cadastro</a
        >
        <br />
        <br />
        <a
            href="{{url_for('redefinirSenhaLogin', token = token)}}"
            class="perfil-button"
            >Alterar Senha</a
        >
    </div>
</div>
{% endif %} {% endblock %}
