{% extends "base.html" %}

{% block head %}
<title>Alteração de Usuário</title>
{% endblock %}

{% block header %}
<li class="sidenav__list-item"><a href="{{url_for('perfil', token = token)}}" class="bottom">Perfil</a></li>
<li class="sidenav__list-item"><a href="{{url_for('criarDocumento', token = token)}}" class="bottom">Criar Documento</a></li>
<li class="sidenav__list-item"><a href="{{url_for('listaOficios', token = token)}}" class="bottom">Ofícios</a></li>
<li class="sidenav__list-item"><a href="{{url_for('listaComInternas', token = token)}}" class="bottom">Comunicações Internas</a></li>
{% endblock %}

{% block body %}

<div class="container">
  <form class="form-content" method="POST">
    <fieldset id="paper">
      <div class="page">

        <label class="field a-field a-field_a1">
            <input name="senhaNova" type="password" 
            class="field__input a-field__input" 
            placeholder="Digite sua nova senha" required>
            
            <span class="a-field__label-wrap">
              <span class="a-field__label">Nova Senha</span>
            </span>
          </label>

          <label class="field a-field a-field_a1">
            <input name="senhaConfirma" type="password" 
            class="field__input a-field__input" 
            placeholder="Confirme a nova senha escolhida" required>
            
            <span class="a-field__label-wrap">
              <span class="a-field__label">Confirmação de Senha</span>
            </span>
          </label>
        



      <!-- Achar solução melhor kkkkk -->
      <br><br><br><br><br><br><br><br><br><br>

    </fieldset>
  <div id="envelope">
    <label class="field a-field a-field_a2">
      <input type="submit" value="Alterar senha" class="envelope-button">
    </label>
  </div>
  <div class="envelope__back"></div>
</form>
</div>
{% endblock %}
