{% extends "base.html" %}

{% block head %}
<title>Reprovação de Usuário</title>
{% endblock %}

{% block header %}
<li class="sidenav__list-item"><a href="{{url_for('perfil', token = token)}}" class="bottom">Perfil</a></li>
<li class="sidenav__list-item"><a href="{{url_for('criarDocumento', token = token)}}" class="bottom">Criar Documento</a></li>
<li class="sidenav__list-item"><a href="{{url_for('listaOficios', token = token)}}" class="bottom">Ofícios</a></li>
<li class="sidenav__list-item"><a href="{{url_for('listaComInternas', token = token)}}" class="bottom">Comunicações Internas</a></li>
{% endblock %}

{% block body %}

<div class="container">
  <form class="form-content" method="POST">
    <fieldset id="paper">
      <div class="page">
				
			<h3>Selecione os campos incorretos:</h3>
			<div align="left">
        <!-- e-mail -->
        <div>
    			<input type="checkbox" id="email" name="email">
					<label for = "email">E-mail: {{ user.email }}</ label>
  			</ div>
        
				<!-- nome -->
        <div>
    			<input type="checkbox" id="nome" name="nome">
					<label for = "nome">Nome: {{ user.nome }}</ label>
  			</ div>
        
				<!-- cargo -->
        <div>
    			<input type="checkbox" id="cargo" name="cargo">
					<label for = "nome">Cargo: {{ user.cargo }}</ label>
  			</ div>
        
				<!-- nivel do cargo -->
        <div>
    			<input type="checkbox" id="nivelCargo" name="nivelCargo">
					<label for = "nome">Nível do cargo: {{ user.nivelCargo }}</ label>
  			</ div>
        
				<!-- área -->
        <div>
    			<input type="checkbox" id="area" name="area">
					<label for = "nome">Área: {{user.area}}</ label>
  			</ div>
        
				<!-- divisão -->
        <div>
    			<input type="checkbox" id="divisao" name="divisao">
					<label for = "nome">Divisão: {{ user.divisao }}</ label>
  			</ div>
				</div>

    </fieldset>
  <div id="envelope">
    <label class="field a-field a-field_a2">
      <input type="submit" value="Reprovar Usuário" class="envelope-button">
    </label>
  </div>
  <div class="envelope__back"></div>
</form>
</div>
{% endblock %}
